/* Hide scrollbar for Chrome, Brave, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}